[submodule "vendor/ICanHaz"]
	path = vendor/ICanHaz
	url = http://github.com/wesen/ICanHaz.js.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = http://github.com/wesen/underscore.git
[submodule "vendor/php-restserver"]
	path = vendor/php-restserver
	url = http://github.com/wesen/php-restserver.git
[submodule "vendor/Proust"]
	path = vendor/Proust
	url = http://github.com/wesen/proust.git
[submodule "vendor/limonade"]
	path = vendor/limonade
	url = http://github.com/wesen/limonade.git
[submodule "vendor/js/mustache"]
	path = vendor/js/mustache
	url = http://github.com/wesen/mustache.js.git
[submodule "vendor/js/backbone"]
	path = vendor/js/backbone
	url = http://github.com/wesen/backbone.git
