<section id="page">
  <div id="bodywrap">
    {{>header}}
    <section id="contentwrap">
      <div id="contents" class="normalcontents"><section id="normalpage">

          <section id="left">

            <h2>Latest Blog Entries</h2>
            <section class="blogpreview">
              {{#blogs}}
              <form method="POST" class="editPost" action="#">
                <input type="hidden" name="blogId" value="{{id}}"/>
                <article class="postpreview">
                  <section class="entry">
                    <h3><span>{{title}}</span>
                    <input style="width:200px" type="text" name="title" value="{{title}}" class="inputToggle"/>
                    </h3>
                    <p>{{text}}</p>
                    <textarea cols="60" rows="12" name="text" class="inputToggle">{{text}}</textarea>
                  </section>
                  <aside class="postinfo">
                    <p>
                      <time>{{date}}</time>
                      <span>124 Comments</span>
                      <span>{{category}}</span>
                    </p>
                  </aside>
                  <div class="clear"></div>
                </article>
              </form>
              {{/blogs}}
            </section>

          </section>
          <section id="sidebar">
            <h2>Categories</h2>
            <div class="sbwrap twocol">
              <ul>
                {{#categories}}
                <li><a href="blog/category/{{.}}">{{.}}</a></li>
                {{/categories}}
              </ul>

              <div class="clear"></div>
            </div>
            <h2>Archives</h2>

            <div class="sbwrap">
              <ul>
                {{#categories}}
                <li><a href="blog/category/{{.}}">{{.}}</a></li>
                {{/categories}}
              </ul>
              <div class="clear"></div>
            </div>
            <h2>Latest Comments</h2>
            <article class="testimonials">
              {{#testimonials}}
              <blockquote>
                <p>{{text}}</p>
                <cite>{{author}}, {{city}}</cite>
              </blockquote>
              {{/testimonials}}
            </article>
          </section>

          <div class="clear"></div>
        </section>
      </div>
    </section>
  </div>
  {{>footer}}
</section>
