<footer id="pagefooter">
  <div id="bottom">
    <div class="block1">
      <h2>Meet The Team</h2>

      <div class="teamimg">


        <div class="imgthmb">
          <img src="{{path_images}}team5.jpg" width="65" height="65" alt="team"></div>
        <div class="imgthmb">
          <img src="{{path_images}}team1.jpg" width="65" height="65" alt="team"></div>
        <div class="imgthmb">
          <img src="{{path_images}}team2.jpg" width="65" height="65" alt="team"></div>
        <div class="imgthmb">
          <img src="{{path_images}}team4.jpg" width="65" height="65" alt="team"></div>
        <div class="imgthmb">
          <img src="{{path_images}}team2.jpg" width="65" height="65" alt="team"></div>
        <div class="imgthmb">
          <img src="{{path_images}}team1.jpg" width="65" height="65" alt="team"></div>
      </div>
    </div>
    <div class="block2">
      <h2>Latest Project</h2>
      <div class="projectthmb"> <a href="../portfolio"><img src="{{path_images}}latstproject.jpg" width="240" height="150" alt="project"></a></div>

    </div>
    <div class="block3">

      <h2>More About</h2>
      <p>PROFESSIONAL PORTFOLIO is a Template suitable for Businesses, Web Design Firms or any I.T related company that require a place to showcase their works.
        This template is released under Creative Commons Attribution License. </p>

    </div>
    <div class="clear"></div>
  </div>
  <div id="credits">
    <p>
      <span class="copyright">
        &copy; 2010 | Your Company Name |  All Rights Reserved | Professional Portfolio is a CSS Template relealsed by CSSHeaven</span>
      <span id="designcredit">
        <!--Creative Common Non-Commercial, Attribution License
            Designed by : Roshan Ravi
            Author URI : cssheaven.org
            Do Not Remove this Credits and Link back to CSSHeaven from the template-->
        <a href="http://cssheaven.org" title="Free CSS Website Template by CSSHeaven">Website Template</a>
        <!--Design Credits--> by CSSHeaven.org </span>
    </p>
  </div>
</footer>
