<!doctype html>

<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>Home | HTML5 Template Portfolio</title>
    <link href="{{path_css}}style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {{>jsInitialization}}
  </body>
</html>
