<section id="page">
  <div id="bodywrap">
    <section id="top">
      <nav>
        <h1 id="sitename">
          <a href="#">Portfolio | Premium CSS Template </a></h1>

        <ul id="sitenav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="../services">Services</a></li>
          <li><a href="../about">About</a></li>
          <li class="current"><a href="../blog">Blog</a></li>
          <li><a href="../contact">Contact</a></li>

        </ul>

      </nav>
      <header id="normalheader"></header>
    </section>
    <section id="contentwrap">
      <div id="contents" class="normalcontents"><section id="normalpage">

          <section id="left">

            <h2>Latest Blog Entries</h2>

            <section class="blogpreview">
              <article class="postpreview">
                <section class="entry">
                  <h3>Post Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl urna, aliquam vitae vehicula eu, vulputate nec risus. Suspendisse mollis, purus sed aliquam volutpat <a href="#">Read More</a></p>

                </section>
                <aside class="postinfo">
                  <p>
                    <time>12 August 2010</time>
                    <span>124 Comments</span>
                    <span>Web Design</span>
                  </p>
                </aside>
                <div class="clear"></div>
              </article>

              <article class="postpreview">
                <section class="entry">
                  <h3>Post Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl urna, aliquam vitae vehicula eu, vulputate nec risus. Suspendisse mollis, purus sed aliquam volutpat <a href="#">Read More</a></p>

                </section>
                <aside class="postinfo">
                  <p>
                    <time>12 August 2010</time>
                    <span>124 Comments</span>
                    <span>Web Design</span>
                  </p>
                </aside>
                <div class="clear"></div>
              </article>

              <article class="postpreview">
                <section class="entry">
                  <h3>Post Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl urna, aliquam vitae vehicula eu, vulputate nec risus. Suspendisse mollis, purus sed aliquam volutpat <a href="#">Read More</a></p>

                </section>
                <aside class="postinfo">
                  <p>
                    <time>12 August 2010</time>
                    <span>124 Comments</span>
                    <span>Web Design</span>
                  </p>
                </aside>
                <div class="clear"></div>
              </article>

              <article class="postpreview">
                <section class="entry">
                  <h3>Post Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl urna, aliquam vitae vehicula eu, vulputate nec risus. Suspendisse mollis, purus sed aliquam volutpat <a href="#">Read More</a></p>

                </section>
                <aside class="postinfo">
                  <p>
                    <time>12 August 2010</time>
                    <span>124 Comments</span>
                    <span>Web Design</span>
                  </p>
                </aside>
                <div class="clear"></div>
              </article>

              <article class="postpreview">
                <section class="entry">
                  <h3>Post Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl urna, aliquam vitae vehicula eu, vulputate nec risus. Suspendisse mollis, purus sed aliquam volutpat <a href="#">Read More</a></p>

                </section>
                <aside class="postinfo">
                  <p>
                    <time>12 August 2010</time>
                    <span>124 Comments</span>
                    <span>Web Design</span>
                  </p>
                </aside>
                <div class="clear"></div>
              </article>

              <article class="postpreview">
                <section class="entry">
                  <h3>Post Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl urna, aliquam vitae vehicula eu, vulputate nec risus. Suspendisse mollis, purus sed aliquam volutpat <a href="#">Read More</a></p>

                </section>
                <aside class="postinfo">
                  <p>
                    <time>12 August 2010</time>
                    <span>124 Comments</span>
                    <span>Web Design</span>
                  </p>
                </aside>
                <div class="clear"></div>
              </article>

              <article class="postpreview">
                <section class="entry">
                  <h3>Post Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl urna, aliquam vitae vehicula eu, vulputate nec risus. Suspendisse mollis, purus sed aliquam volutpat <a href="#">Read More</a></p>

                </section>
                <aside class="postinfo">
                  <p>
                    <time>12 August 2010</time>
                    <span>124 Comments</span>
                    <span>Web Design</span>
                  </p>
                </aside>
                <div class="clear"></div>
              </article>
            </section>
          </section>
          <section id="sidebar">
            <h2>Categories</h2>
            <div class="sbwrap twocol">
              <ul>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Graphics Design</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Graphics Design</a></li>

                <li><a href="#">Web Design</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Graphics Design</a></li>

                <li><a href="#">Site News</a></li>
              </ul>

              <div class="clear"></div>
            </div>
            <h2>Archives</h2>

            <div class="sbwrap">
              <ul>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Graphics Design</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Graphics Design</a></li>

              </ul>
              <div class="clear"></div>
            </div>
            <h2>Latest Comments</h2>
            <article class="testimonials">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum neque aliquam ut posuere elit semper. </p>
                <cite>John Doe, New York City</cite>
              </blockquote>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <cite>John Doe, New York City</cite>
              </blockquote>

              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <cite>John Doe, New York City</cite>
              </blockquote>

              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum</p>
                <cite>John Doe, New York City</cite>
              </blockquote>
            </article>
          </section>

          <div class="clear"></div>
        </section>
      </div>
    </section>
  </div>
  {{>footer}}
</section>
